body{
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;

}
p{
    font-style: italic;
}
img{
    height: auto;
    width: 100%;
    border-radius: 50px;
}
video{
    height: 350px;
}
ul{
    list-style-type: disc;
}
button:hover{
    background-color: red;
}

#p1{
    font-style: italic;
}

#p2{
    font-style: normal;
}
.pclass{
    font-size: xx-large;
}
nav{
    display: flex;
    flex-direction: column;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*

mobile -> 320px - 600px
tablet -> 600px - 1024px
laptop & desktop -> 1024px - 1440px

Types
1) Mobile-First
2) Desktop-First

*/

